button {
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: none;

    cursor: pointer;
}

.customize {
    text-align: center;
    font-size: 30px;
    text-shadow: 1px 1px 3px blue
}

#id-ex {
    background-color: #20B2AA;
    opacity: 0.2;
    font-size: 20px;
}

.table-ex table th td {
    border: 1px solid black;
}

div + p {
    color: crimson;
}

div > span {
    font-family: 'Brush Script MT', cursive;
}

p[class] {
    letter-spacing: 6px;
}

.general {
    color: purple;
}