body{
    margin: 0;
  }

  h3 {
    text-align: center;
  }

  .add-image {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStKbI0JYZFAXrGNHlamCl4dnYSmopYS1bBfw&usqp=CAU");
    background-repeat: no-repeat;
    background-size: 100% ;
  }

  table, form, ul, .link{
    margin-left: 20px;
  }
  .link{
    margin-bottom: 30px;
  }
  label{
    font-weight: 500;
  }

  button{
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: none;

    cursor: pointer;
  }
  table, th, td {
    border: 1px solid black;
  }
  .special-border {
    border: double;
  }












  /* ---------- Footer Contact ---------- */
  .footerImage{
    width: 100%;
  }
  .footerBlock{
    background-color: #B6A27B;

    margin-top: -4px;

    padding-left: 30px;
    padding-right: 40px;

    padding-bottom: 40px;
  }
  .footerBlock h2{
    margin: 0;
    padding-top: 30px;
    font-size: 47px !important;
  }
  .footerBlock h4{
    margin: 0;
    padding-top: 10px;

    margin-bottom: 30px;
    font-size: 19px;
  }

  .socialInformation{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between;

    align-items: center; */
  }

  .socialInformation .infoBlock{
    padding-top: 15px;
    padding-bottom: 15px;
  }

  
  .socialInformation .infoBlock span{
    display: block;
  }

  .socialInformation .socialBlock{
    border: 1px solid #000000;
    padding: 15px 25px 15px 25px;

    display: flex;
    align-items: center;
    width: 270px;

    margin-top: 20px;
  }
  .socialInformation .socialBlock span{
    font-size: 23px;
    color: #4E4545;

    margin-right: 40px;
  }
  .socialInformation .socialBlock .socialLinks {
    display: flex;
    align-items: center;

    
  }
  .socialInformation .socialBlock .socialLinks .iconFacebook{
    width: 32px;
    margin-right: 10px;
  }
  .socialInformation .socialBlock .socialLinks .iconInstagram{
    width: 32px;
    margin-right: 10px;
  }
  .socialInformation .socialBlock .socialLinks .iconTwitter{
    width: 32px;
  }